<div class="app-main-navbar navbar navbar-fixed-top">
  <div class="container">
    <span class="navbar-brand col-lg-3" style="max-width:400px">Friends<sup>2</sup> Timeline</span>
    
    <form class="navbar-form col-offset-1 col-lg-4">
  
      <div class="col-lg-9">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="observerName" placeholder="Enter list name">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&thinsp;<span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="list in lists"><a ng-click="setObserver(list)" ng-class="{true:'app-stored-list', false:'app-non-stored-list'}[isObserver(list)]" href="">{{list.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <button class="btn btn-primary col-lg-3" ng-click="confirmUpdateObserver()">Update</button>

    </form>
    
    <div class="col-offset-2 col-lg-1">
      <span class="navbar-brand"><twitterbutton count="horizontal"></twitterbutton></span>
    </div>

  </div>
</div>

<div class="container">

  <h4 class="text-center text-primary">Choose friends you peek into.</h4>
  <br>

  <div class="col-offset-2 col-lg-8">
    <table class="app-main-table table table-hover">
      <tr ng-repeat="friend in friends" ng-class="{true:'warning', false:''}[friend.isObserved == true]">
        <td class="col-1">
          <input type="checkbox" ng-model="friend.isObserved">
        </td>
        <td class="col-1">
          <a ng-href="https://twitter.com/{{friend.screen_name}}" target="_blank" tabindex="-1"><img ng-src="{{friend.profile_image_url}}"></a>
        </td>
        <td class="col-9">
          <strong>{{friend.name}}</strong>
          <span class="text-muted">@{{friend.screen_name}}</span>
        </td>
        <td class="col-1">
          {{friend.friends_count}}
        </td>
      </tr>
    </table>
  </div>
  
  <ng-include src="'partials/footer.html'"></ng-include>

</div>


<div id="app-observer-update-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p>
          This operation fills the specified list with the members who are friends of the users you checked. 
          If a list which has the same name already exists, the members are overwritten.
        </p><p>
          This operation may take a time because of the limitation of Twitter API call.
          While the operation is processing, a loading icon will appear.
          You must not close this site until it is completed.
        </p><p>
          The number of members of a list is currently 5000 at most.
        </p>
      </div>
      <div class="modal-footer">
        <span class="pull-left"><input type="checkbox" ng-model="doUpdateObserverWithoutModal"> Don't show again</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateObserver()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->